proposal_generation_pipeline/proposal_generation_pipeline/rf-detr-medium.pth
.venv/
proposal_generation_pipeline/proposal_generation_pipeline/uploads/
.env
processing_pipeline/outputs/
testing/
admin_ui/uploads
admin_ui/final_outputs
proposal_generation_pipeline\proposal_generation_pipeline\rf-detr-medium.pth