APP_NAME="AVA Unified Platform"
ENV="dev"

# Database
DB_HOST=184.73.121.6
DB_PORT=55432
DB_NAME=cvat_annotations_db
DB_USER=admin
DB_PASSWORD=admin


CVAT_HOST=http://184.73.121.6:8080
CVAT_USERNAME=Anurag_03
CVAT_PASSWORD=Test@123

S3_BUCKET_NAME=cvat-data-uploader
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1